{namespace d=Innologi\Decosdata\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages renderMode="div" />

<f:debug>{query}</f:debug>
<f:debug>{configuration}</f:debug>

<d:pageBrowser>
<table>
	<thead>
		<tr>
			<f:for each="{configuration.contentField}" as="column">
				<th scope="col">{column.title}</th>
			</f:for>
		</tr>
	</thead>
	<tbody>
		<f:for each="{items}" as="item">
			<tr class="item-{item.itemID}">
				<d:item.for configuration="{configuration.contentField}" item="{item}" contentAs="content" configAs="contentConfig">
					<td>{content -> d:content.render(configuration: contentConfig)}</td>
				</d:item.for>
			</tr>
		</f:for>
	</tbody>
</table>
</d:pageBrowser>

</f:section>