<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

<f:debug>{configuration}</f:debug>
<f:format.html>{query}</f:format.html>

<d:pageBrowser>
<table>
	<thead>
		<tr>
			<f:for each="{configuration.contentField}" as="column">
				<th scope="col">{column.title}</th>
			</f:for>
		</tr>
	</thead>
	<tbody>
		<f:for each="{items}" as="item">
			<tr class="item-{item.itemID}">
				<d:item.for configuration="{configuration.contentField}" item="{item}">
					<td>{content -> d:content.render(configuration: contentConfiguration, item: item, index: index)}</td>
				</d:item.for>
			</tr>
		</f:for>
	</tbody>
</table>
</d:pageBrowser>

</f:section>

</html>