<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

<d:crumbPath>
	<f:for each="{contentSections}" as="section" key="index">
		<div class="section section-{index} level-{level} {section.type}">
			<d:render partial="{section.partial}" arguments="{data:section.data, configuration:section.configuration, paging:section.paging}" />
		</div>
	</f:for>
</d:crumbPath>

</f:section>

</html>