<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

<d:crumbPath>
<dl class="item-{item.itemID}">
	<d:item.for configuration="{configuration.contentField}" item="{item}">
		<d:content.render tag="dt" options="{contentConfiguration.title.renderOptions}" index="{index}">
			{contentConfiguration.title.value}
		</d:content.render>
		<d:content.render tag="dd" options="{contentConfiguration.renderOptions}" item="{item}" index="{index}">
			{content}
		</d:content.render>
	</d:item.for>
</dl>
</d:crumbPath>

</f:section>

</html>