<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

<d:crumbPath>
	<div class="section section-{sectionIndex} level-{level} {section.type}" data-section="{sectionIndex}">
		<d:render partial="{section.partial}" arguments="{data:section.data, configuration:section.configuration, paging:section.paging, sectionId:sectionIndex}" />
	</div>
</d:crumbPath>

</f:section>

</html>