@charset "UTF-8";


.tx-decosdata {
	overflow: hidden;
}
.tx-decosdata .section {
	position: relative;
}
.tx-decosdata .invisible {
	visibility: hidden;
	display: none;
}


.tx-decosdata .last-updated {
	float: right;
	font-size: 0.8em;
	font-style: italic;
}


.tx-decosdata table {
	border-collapse: collapse;
	border-spacing: 0;
}
.tx-decosdata .data th {
	text-align: left;
	font-weight: bold;
}
.tx-decosdata .data th[scope=row] {
	vertical-align: top
}


.tx-decosdata .crumbpath,
.tx-decosdata .pagebrowser {
	font-size: 0.8em;
	padding: 0.8em;
}
.tx-decosdata ul.crumbpath-navigation,
.tx-decosdata ul.pagebrowser-navigation {
	list-style: none outside none;
	padding-left: 0;
}
.tx-decosdata ul.crumbpath-navigation > li,
.tx-decosdata ul.pagebrowser-navigation > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.tx-decosdata .pagebrowser-navigation > * {
	margin-right: 0.4em;
}
.tx-decosdata .crumbpath-navigation > *:after {
	content: ">";
	margin: 0 0.2em;
}
.tx-decosdata .crumbpath-navigation > *:last-child:after {
	content: "";
}


.tx-decosdata .gallery {
	width: 100%;
}
.tx-decosdata .gallery .items {
	overflow: hidden;
}
.tx-decosdata .gallery .item {
	display: inline-block;
	float: left;
	width: 25%;
}
.tx-decosdata .gallery .item,
.tx-decosdata .media .item .media-content {
	text-align: center;
}
.tx-decosdata .gallery .item img,
.tx-decosdata .media .item .media-content img {
	max-width: 100%;
	max-height: 100%;
}


.tx-decosdata .obfuscate {
	display: block;
	position: relative;
	/* IE */
	width: 100%;
	height: 100%;
}
.tx-decosdata .obfuscate-layer {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url('/typo3conf/ext/decosdata/Resources/Public/Image/obfuscate.gif');
	background-repeat: repeat;
	background-position: left top;
}


.tx-decosdata .search fieldset {
	border: 0;
	padding: 0.1em 0;
}
.tx-decosdata .search {
	width: 100%;
}
.tx-decosdata .search .search-box,
.tx-decosdata .search .search-submit {
	font-size: 0.9em;
}
.tx-decosdata .search .search-box {
	background-position: right center;
	background-repeat: no-repeat;
	width: 70%;
}
.tx-decosdata .search .search-box.full-width {
	width: 95%;
}
.tx-decosdata .search .search-submit {
	width: 25%;
}
.tx-decosdata a.xhr-paging {
	display: block;
}
.tx-decosdata .xhr-paging,
.tx-decosdata .overlay {
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.tx-decosdata .xhr-paging.loader {
	height: 7em;
	margin: 2em auto;
	opacity: 0.25;
}
.tx-decosdata .overlay.loader {
	background-color: #bbb;
	position: absolute;
	opacity: 0.65;
	margin-top: 0;
	margin-left: 0;
	height: 100%;
	z-index: 100;
}
.tx-decosdata .loader.active {
	background-image: url('/typo3conf/ext/decosdata/Resources/Public/Image/spinner.svg');
}
.tx-decosdata .xhr-paging.loader.inactive {
	height: 4em;
	background-image: url('/typo3conf/ext/decosdata/Resources/Public/Image/arrow-down.svg');
}