<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />

<f:section name="Content">

<f:be.pageRenderer includeJavaScriptModules="{0: '@innologi/decosdata/Module.js'}"/>

<div class="decosdata-routingTab">
  <h1><f:translate key="LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.title"/></h1>
  <p><f:translate key="LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.details"/></p>
  <form method="post" id="flushRoutingSlugs">
    <div class="decosdata-button">
      <p><f:translate key="LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.missing_buttons"/></p>
      <f:if condition="{count} === 0">
        <f:then>
          <input type="submit" class="btn btn-default" name="disabledButton" id="disabledButton"
            value="{f:translate(key: 'LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.flush_label', arguments: {0: '{count}'})}"
            disabled="disabled" />
        </f:then>
        <f:else>
          <input type="submit" class="btn btn-default t3js-update-button" name="flushRoutingSlugs" id="flushRoutingSlugs"
            value="{f:translate(key: 'LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.flush_label', arguments: {0: '{count}'})}"
            data-notification-message="{f:translate(key: 'LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.flush_notification')}"
            data-warning-message="{f:translate(key: 'LLL:EXT:decosdata/Resources/Private/Language/locallang_mod.xlf:routing.flush_warning')}" />
        </f:else>
      </f:if>
    </div>
  </form>
</div>

</f:section>

</html>