<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:if condition="{renderAbove}">
	<div class="pagebrowser pagebrowser-top">
		<d:render section="pagebrowser" arguments="{configuration: pageBrowser}" />
		<f:if condition="{includeResultCountAbove}">
			<d:render section="resultcount" arguments="{resultCount: resultCount}" />
		</f:if>
	</div>
</f:if>

<f:format.raw>{content}</f:format.raw>

<f:if condition="{renderBelow}">
	<div class="pagebrowser pagebrowser-bottom">
		<f:if condition="{includeResultCountBelow}">
			<d:render section="resultcount" arguments="{resultCount: resultCount}" />
		</f:if>
		<d:render section="pagebrowser" arguments="{configuration: pageBrowser}" />
	</div>
</f:if>

<f:section name="pagebrowser">
<ul class="pagebrowser-navigation">
	<f:if condition="{configuration.previousPage}">
		<li class="previous">
			<f:link.action arguments="{page: configuration.previousPage.number}" addQueryString="TRUE">
				<f:translate key="pagebrowser.previous">{configuration.previousPage.label}</f:translate>
			</f:link.action>
		</li>
	</f:if>
	<f:if condition="{configuration.pages.beforeScaled}">
		<f:render section="pagenumbers" arguments="{pages: configuration.pages.beforeScaled}" />
		<li><f:translate key="pagebrowser.separator">.....</f:translate></li>
	</f:if>
	<f:if condition="{configuration.pages.beforeCurrent}">
		<f:render section="pagenumbers" arguments="{pages: configuration.pages.beforeCurrent}" />
	</f:if>
	<li class="current">
		{configuration.currentPage.label}
	</li>
	<f:if condition="{configuration.pages.afterCurrent}">
		<f:render section="pagenumbers" arguments="{pages: configuration.pages.afterCurrent}" />
	</f:if>
	<f:if condition="{configuration.pages.afterScaled}">
		<li><f:translate key="pagebrowser.separator">.....</f:translate></li>
		<f:render section="pagenumbers" arguments="{pages: configuration.pages.afterScaled}" />
	</f:if>
	<f:if condition="{configuration.nextPage}">
		<li class="next">
			<f:link.action arguments="{page: configuration.nextPage.number}" addQueryString="TRUE">
				<f:translate key="pagebrowser.next">{configuration.nextPage.label}</f:translate>
			</f:link.action>
		</li>
	</f:if>
</ul>
</f:section>

<f:section name="pagenumbers">
<f:for each="{pages}" as="page">
	<li>
		<f:link.action arguments="{page: page.number}" addQueryString="TRUE">{page.label}</f:link.action>
	</li>
</f:for>
</f:section>

<f:section name="resultcount">
<div class="resultcount"><f:translate key="pagebrowser.resultCount" arguments="{0: resultCount}" /></div>
</f:section>

</html>