<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:if condition="{data}">
<table class="data item item-{data.id}">
	<tbody>
		<d:item.for configuration="{configuration.contentField}" item="{data}">
			<tr>
				<f:if condition="{contentConfiguration.title}">
					<f:then>
						<d:content.render tag="th" tagAttributes="{scope: 'row'}" options="{contentConfiguration.title.renderOptions}" index="{index}">
							{contentConfiguration.title.value}
						</d:content.render>
						<d:content.render tag="td" options="{contentConfiguration.renderOptions}" item="{data}" index="{index}">
							{content}
						</d:content.render>
					</f:then>
					<f:else>
						<d:content.render tag="td" tagAttributes="{colspan: 2}" options="{contentConfiguration.renderOptions}" item="{data}" index="{index}">
							{content}
						</d:content.render>
					</f:else>
				</f:if>
			</tr>
		</d:item.for>
	</tbody>
</table>
</f:if>

</html>