<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:d="http://typo3.org/ns/Innologi/Decosdata/ViewHelpers">

<f:if condition="{data}">
<div class="data xhr-container">
<table class="item item-{data.id} xhr-element">
	<tbody class="items">
		<d:item.for configuration="{configuration.contentField}" item="{data}">
			<tr>
				<f:if condition="{contentConfiguration.title}">
					<f:then>
						<th scope="row">
							<d:content.render options="{contentConfiguration.title.renderOptions}" index="{index}">
								{contentConfiguration.title.value}
							</d:content.render>
						</th>
						<td class="content content-{index}" data-id="{index}" data-item="{data.id}">{content}</td>
					</f:then>
					<f:else>
						<td class="content content-{index}" data-id="{index}" data-item="{data.id}" colspan="2">{content}</td>
					</f:else>
				</f:if>
			</tr>
		</d:item.for>
	</tbody>
</table>
</div>
</f:if>

</html>